<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>
    <form method="post" action="/recipes">
    <label for="name">Name of Recipe:</label>
    <input type="text" name="name"><br>
    <label for="ingredients">Ingredients:</label>
    <textarea type="text" name="ingredients"></textarea><br>
    <label for="cook_time">Cooking time:</label>
    <input type="integer" name="cook_time"><br>
    <input type="submit" value="Submit new recipe">
    </form>
    
    <br>
    <a href="/recipes">Go back to All Recipes</a>
</body>
</html>